<!-- https://hoangsi.com/ -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css' />
  <link link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <title>REST API Node.js</title>
</head>

<body>
  <div class="container-fluid">
    <h4>REST API</h4> <p>Node.js (Framework Sails.js)</p>
    <hr>
    <br>
    <br> <strong>=> Danh sách Users</strong>
    <br> Url : http://127.0.0.1:1337/api/users
    <br>
    <br> <strong>=> Thông tin 1 User</strong>
    <br> Url : http://127.0.0.1:1337/api/user/1
    <br>
    <br> <strong>=> Tạo mới User</strong>
    <br> Url : http://127.0.0.1:1337/api/user/create?name=Hoang+Si&email=it.hoangsi@gmail.com&tel=0908179790
    <br>
    <br> <strong>=> Cập nhật User</strong>
    <br> Url : http://127.0.0.1:1337/api/user/update/2?name=Hoang+Si&email=it.hoangsi@gmail.com&tel=0908179790
    <br>
    <br> <strong>=> Xóa User</strong>
    <br> Url : http://127.0.0.1:1337/api/user/delete/1
  </div>
</body>

</html>